/* ...About... */
.about {
    padding: 100px 0px 125px;
    margin: auto;
}

.about-container {
    width: 80%;
    margin: auto;
}

.about-img {
    width: 40%;
    float: left;
    margin: auto;
}

.about-box {
    max-width: 360px;
    max-height: 440px;
    float: right;
    outline: 7px solid #555555;
    outline-offset: -7px;
    border-radius: 5px;
    position: relative;
}

.about-img-social {
    position: relative;
    top: 25px;
    left: 25px;
    margin: auto;
    border-radius: 5px;
    overflow: hidden;
}

.about-img-social img {
    max-width: 100%;
    height: auto;
}

.about-rec {
    width: 400px;
    height: 500px;
    background-color: #4d4b4b;
    opacity: 0.7;
    transition: top 1s;
    position: absolute;
    top: 100%;
    z-index: 3;
}

.about-social {
    margin: auto;
    transition: top 1s;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translatex(-50%);
    z-index: 4;
}

.about-social ul {
    list-style-type: none;
}

.about-social li {
    float: left;
}

.fa {
    padding-inline: 10px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    color: red;
}

.fa-facebook {
    color: white;
}

.fa-twitter {
    color: white;
}

.fa-google {
    color: white;
}

.fa-github {
    color: white;
}

.fa-download {
    color: #ffffff;
    padding-left: 3px;
}

.fa-paper-plane {
    color: #ffffff;
    padding-left: 5px;
}

.about-img-social:hover .about-rec {
    position: absolute;
    top: 0;
}

.about-img-social:hover .about-social {
    position: absolute;
    top: 50%;
}

.about-text {
    width: 60%;
    float: left;
    padding-left: 95px;
}

.about-text h2 {
    font-size: 34px;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 25px;
    padding-left: 13px;
    position: relative;
}

.about-text-p {
    border-bottom: 1px dashed #999999;
    margin-bottom: 25px;
    line-height: 25px;
    padding-bottom: 25px;
}

.about-text h2::after {
    content: '';
    background: #ff305b;
    width: 4px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

/* buttons */
.about-list-btns {
    width: 100%;
    margin: auto;
}

.about-list-btns ul{
    float: left;
    list-style-type: none;
    width: 100%;
}

.about-list-btns li{
    float: left;
    width: 40%;
}

.about-list-btns-p1 {
    float: left;
    color: #333333;
    margin-bottom: 20px;
    font-weight: 600;
    padding-right: 5px;
}

.about-list-btns-p2 {
    float: left;
    color: #555555;
}

.about-btns:hover .fa {
    color: #ffffff;

}

.btn-hire {
    border: none;
    background-color: #ff305b;
    padding: 10px 24px;
    color: #ffffff;
    border-radius: 4px;
    font-size: 100%;
}

.btn-hire:hover {
    background-color: #EC2403;
    cursor: pointer;
}

.btn-download {
    border: none;
    background-color: #ff305b;
    padding: 10px 24px;
    color: #ffffff;
    border-radius: 4px;
    font-size: 100%;
    margin-right: 10px;
}

.btn-download:hover {
    background-color: #EC2403;
    cursor: pointer;
}