/* ...contact... */
.contact {
    width: 100%;
    text-align: center;
}

.contact-container {
    width: 60%;
    margin: auto;
    padding-block: 50px;
}

.contact-title {
    width: 100%;
    float: left;
}

.contact-title h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 30px;
    margin-bottom: 40px;
    padding-bottom: 30px;
    position: relative;
}

.contact-title h2::after {
    content: '';
    background-color: #ff305b;
    bottom: 5px;
    height: 1px;
    width: 160px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.contact-title h2::before {
    content: '';
    border-color: #ff305b;
    border-style: solid;
    border-width: 1px 0;
    padding: 4px 0 5px;
    width: 70px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

.contact-name{
    width: 50%;
    padding: 6px 12px;
    font-size: 14px;
    float: left;
}

.contact-name input{
    height: 40px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-mail{
    width: 50%;
    padding: 6px 12px;
    font-size: 14px;
    float: left;
}

.contact-mail input{
    height: 40px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-subject{
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    float: left;
}

.contact-subject input{
    height: 40px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-container input:focus{
    outline: none;
    border: 1px solid #ff305b;
    border-radius: 4px;
}

.contact-message{
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    float: left;
}

.contact-message textarea{
    height: 100px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-container textarea:focus{
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.contact-btn{
    width: 100%;
    padding: 6px 12px;
    font-size: 20px;
    float: left;
    text-align: left;
}

.contact-btn button{
    border: none;
    color: #ffffff;
    border-radius: 5px;
    background-color: #ff305b;
    padding: 15px 25px;
}

.contact-btn button:active {
    background-color: #ff0000;
    outline: 1px solid #ff0000;
    outline-offset: 2px;
    border: 1px solid #000000;
    border-radius: 4px;
    cursor: pointer;
    padding: 14px 23px;
}

.contact-btn button:visited {
    border: none;
    color: #ffffff;
    outline: none;
    border-radius: 5px;
    background-color: #ff305b;
}

.contact-btn button:hover {
    background-color: #ff0000;
    cursor: pointer;
}